<div class="show-header"><%= @site.name %></div>
<div class="contactPage-text">You can contact us by phone at <%= @site.contact %> or by visiting one of our locations at:</div>
<div class="contactPage-text"><%= @site.location %><br /><%= @site.address %><br /><%= @site.city %>, <%= @site.state %> <%= @site.zip %></div>
<div class="contactPage-text">Or by filling out the form below:</div>
	
<%= form_for @message, url: contact_path do |message_form| %>
  	<fieldset>
    	<div class="form-group">
			<%= message_form.label :name %>
			<%= message_form.text_field :name, class: "form-control", placeholder: "Name" %>
    	</div>
    	<div class="form-group">
			<%= message_form.label :email %>
      		<%= message_form.email_field :email, class: "form-control", placeholder: "Email"%>
    	</div>
		<div class="special_form">
			<%= message_form.text_field :special %>
		</div>		
    	<div class="form-group">
			<%= message_form.label :message %>
      		<%= message_form.text_area :content, class: "form-control", placeholder: "Message", rows: 10 %>
    	</div>
	</fieldset>
  
	<fieldset>
      	<%= message_form.submit class: "btn btn-primary", value: "Send Message" %>
  	</fieldset>
<% end %>
