<h1>Admin Section</h1>
<p>Welcome <%= current_user.name %></p>

<table class="table table-condensed, table table-hover">
<tr>
	<td>
		<%= link_to "Edit Users - Update User Names, Email Addresses, Assign User Roles", users_path, class:"btn btn-link" %>
	</td>
</tr>
<tr>
	<td>
		<%= link_to "Edit Car Makes - Update Manufacturer Names", makes_path, class:"btn btn-link" %>
	</td>
</tr>
<tr>
	<td>
		<%= link_to "Edit Car Models - Update Model Names", models_path, class:"btn btn-link" %>
	</td>
</tr>
<tr>
	<td>
		<%= link_to "Show Cars Listed - Update Published, and Car Attributes", listing_path, class:"btn btn-link" %>
	</td>
</tr>
</table>