<%= form_for(@car, :html => { :multipart => true, class: "form-horizontal" }) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h4>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    	<%= f.label :make_id, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.collection_select(:make_id, Make.all, :id, :name, {prompt: true}, {:class => 'form-control'}) %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :model_id, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.grouped_collection_select(:model_id, Make.order(:name), :models, :name, :id, :name,  {prompt: true}, {:class => 'form-control'}) %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :year, class: "col-sm-2 control-label"%>
	<div class="col-sm-10">
		<%= select_year @car.year, {:start_year => 1940, :end_year => Time.zone.now.year + 2, :field_name => :year, :prefix => :car }, class:"form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :price, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :price, placeholder: "Enter Numbers Only - No Comma's, No Dollar Sign, No Decimal Point .", class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :car_Type, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.select :carType, options_for_select([['Convertible'],['Coupe'],['Sedan'],['Sports'],['SUV'],['Truck'],['Van/Minivan'],['Wagon'],['Hatchback'],['Hybrid']], [@car.carType]), {prompt: true}, { :class => 'form-control' } %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :transmission, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.select :transmission, options_for_select([['Automatic'],['Manual']], [@car.transmission]), {prompt: true}, { :class => 'form-control' } %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :interior, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :interior, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :miles, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :miles, min: 0, placeholder: "Enter Numbers Only - No Comma's ,", class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :drive, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.select :drive, options_for_select([['AWD'],['FWD'],['RWD'],['4x4']], [@car.drive]), {prompt: true}, { :class => 'form-control' } %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :exterior, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :exterior, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :EPA_Mileage, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :epa, placeholder: "Enter as: Combined/City/Highway", class: "form-control" %>
	</div>
  </div>  
  <div class="form-group">
    	<%= f.label :vin, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :vin, placeholder: "Enter 17 Alphanumberic Characters", class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :description, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_area :description, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :image, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.file_field :image, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :published, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.check_box :published, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :featured, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.check_box :featured, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :reduced, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.check_box :reduced, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :sale, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.check_box :sale, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
    	<%= f.label :sold, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.check_box :sold, class: "form-control" %>
	</div>
  </div>
  <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
    	 <%= f.submit class: "btn btn-primary" %>
	 </div>
  </div>
<% end %>
