<div class="row">
	<% @cars.each do |car| %>
  		<div class="col-md-3">
		    <div class="thumbnail">
				<%= link_to image_tag(car.image.url(:medium)), car %>
		         <div class="caption">
		           <h3>
					   <%= car.make.name %>
					   <%= car.model %>
				   </h3>
		           <p><%= car.year %> | <%= number_with_delimiter(car.miles, :delimiter => ',') %> Miles</p>
				   <p class="price"><%= number_to_currency(car.price) %></p>
		           <p><%= link_to 'Details', car, class: "btn btn-primary", role: "button", style: "color: white" %></p>
		         </div>
		     </div>
		</div>
	<% end %>
</div>

<% if can? :create, Car %>
	<%= link_to "New Car", new_car_path, class: "btn btn-link" %> 
<% end %>

<% if can? :manage, :all %>
	| <%= link_to "Admin", users_path, class:"btn btn-link" %>
<% end %>