<div class="row">
  	<div class="col-md-3">
	  <div class="car-payment text-center">
		  <div class="side-div-header">Calculate Payment</div>
		  <form class="form-horizontal">
		    <div class="form-group">
		      <label for="term" class="col-sm-6 control-label">Length of Loan:</label>
		      <div class="col-sm-6">
		        <input type="text" class="form-control" id="term" placeholder="In Years">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="interest_rate" class="col-sm-6 control-label">Interest Rate:</label>
		      <div class="col-sm-6">
		        <input type="text" class="form-control" id="interest_rate" placeholder="Percent .01">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="price" class="col-sm-6 control-label">Price:</label>
		      <div class="col-sm-6">
		        <input type="price" class="form-control" id="price" value="<%= number_to_currency(@car.price) %>">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="total" class="col-sm-6 control-label">Car Payment:</label>
		      <div class="col-sm-6">
		        <input type="total" class="form-control" id="total">
		      </div>
		    </div>
		   
		    <div class="form-group">
				<div class="col-sm-6 payment-disclaimer">Per Month, not including tax, title, registration and other fees</div>
		      <div class="col-sm-6">
		        <button type="button" class="btn btn-primary" id="calcPayment">Calculate</button>
		      </div>
		    </div>
		  </form>
	  </div>
  	</div>
  	<div class="col-md-5 text-center" >
	<div class="show-header text-center">
 	 	<%= @car.year %> 
		<%= @car.make.name %> 
 	   <%= @car.model.name %>
	</div>
	<div class="car-details" >
		<center>
		<table border="0" width="400px" style="text-align: left;">
			<tr>
				<td width="40%">
  		  			<span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Price:</strong>
 		 			<%= number_to_currency(@car.price) %><br />
				</td>
				<td width="60%">
			 	   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Miles:</strong> 
				   <%= number_with_delimiter(@car.miles, :delimiter => ',') %>
			   </td>
		   </tr>
		   <tr>
			   <td>
  		  		   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Type:</strong>
  				   <%= @car.carType %><br />
			   </td>
			   <td>
				   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Transmission:</strong> 
				   <%= @car.transmission %>
			   </td>
		   </tr>
		   <tr>
			   <td>
  		  		   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Drive:</strong>
 		 		   <%= @car.drive %><br />
			   </td>
			   <td>
				   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Exterior:</strong> 
				   <%= @car.exterior %>
			   </td>
		   </tr>
		   <tr>
			   <td>
  		  		   <span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Interior:</strong>
  				   <%= @car.interior %><br />
			   </td>
			   <td>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>EPA Mileage:</strong>
					<%= @car.epa %>
			</tr>
			<tr>
				<td>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>Stock #:</strong>
					<%= @car.id %>
				</td>
				<td>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>VIN:</strong> 
					<%= @car.vin.upcase %>
				</td>
			</tr>
		</table>
		</center>
	</div>
	<div class="Car-Image">
 		<%= image_tag @car.image(:large), class: "img-rounded text-center" %>
	</div>
	<div class="car-details">
		<%= render_shareable :buttons=> ['facebook', 'twitter','pinterest', 'google_plus'] %>
	</div>
	<div class="text-center">
		<% if can? :update, @car %>
			<%= link_to 'Edit', edit_car_path(@car), class: "btn btn-link" %> |
		<% end %>
		<% if can? :destroy, @car %>
			<%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure you want to delete this car?' }, class: "btn btn-link" %> |
		<% end %>
		<%= link_to 'Back', cars_path, class: "btn btn-link" %>
	</div>
	<div class="car-details text-center">
		<% if can? :update, @car %>
			<h2>Add Additional Images</h2>
			<%= form_for(Image.new, html: { multipart: true, class: "dropzone text-center"}) do |f|  %>
				<%= f.hidden_field :car_id, :value => @car.id %>
  	  			<div class="fallback text-center">
    	  		  	<%= f.file_field :extrapic %><br>
    	  			<%= f.submit "Upload Car Images" %>
  				</div>
			<% end %>
		<% end %>
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  		  	<div class="slides"></div>
  				<a class="prev">‹</a>
  			  	<a class="next">›</a>
  			  	<a class="close">×</a>
  			  	<a class="play-pause"></a>
  			  	<ol class="indicator"></ol>
			</div>
			<div id="links">
  			  	<%= render partial: 'show' %>
			</div>

<script>
document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>

	</div>
	<div class="car-details description">
		<%=  @car.description %>
	</div>
	</div>
  	<div class="col-md-3">
		<div class="car-contact">
			  <div class="side-div-header text-center">Inquire About This Vehicle</div>
			  <%= form_for @carmessage, url: carcontact_path do |message_form| %>
			    	<fieldset>
			      	<div class="form-group">
			  			<%= message_form.label :name %>
			  			<%= message_form.text_field :name, class: "form-control", placeholder: "Name" %>
			      	</div>
			      	<div class="form-group">
			  			<%= message_form.label :email %>
			        		<%= message_form.email_field :email, class: "form-control", placeholder: "Email"%>
			      	</div>
			  		<div class="special_form">
			  			<%= message_form.text_field :special %>
						<%= message_form.text_field :year, :value => @car.year %>
						<%= message_form.text_field :make, :value => @car.make.name %>
						<%= message_form.text_field :model, :value => @car.model.name %>
						<%= message_form.text_field :carID, :value => @car.id %>
			  		</div>		
			      	<div class="form-group">
			  			<%= message_form.label :message %>
			        		<%= message_form.text_area :content, class: "form-control", placeholder: "Message", rows: 10 %>
			      	</div>
			  	</fieldset>
  
			  	<fieldset class="text-center">
			        	<%= message_form.submit class: "btn btn-primary", value: "Send Message" %>
			    	</fieldset>
			  <% end %>
		</div>
	</div>
</div>