<br />
<div class="container">
	<div class="row">
		<% if @site.financeImage? %>
			<%= finance_and_warranty %>
				<%= link_to image_tag(@site.financeImage, alt: "Finance Image", class: "img-responsive center-block"), @site.finance, target: "_blank"%>
			</div>
		<% end %>
		<% if @site.warrantyImage? %>
			<%= finance_and_warranty %>
				<%= link_to image_tag(@site.warrantyImage, alt: "Warranty Image", class: "img-responsive center-block"), @site.warrantyURL, target: "_blank" %>
			</div>
		<% end %>
	</div>
</div>
<br />
<br />
<p>Copyright <%= DateTime.current.year %></p>